[vars]
swiftlint = '~/.local/bin/mise x -- swiftlint'
swiftformat = '~/.local/bin/mise x -- swiftformat'

[tools]
swiftlint = "0.62.2"
swiftformat = "0.58.5"

[tasks.lint]
description = 'Run all linters'
depends = ["swiftlint:*", "swiftformat"]

[tasks."swiftlint:sources"]
description = 'Run SwiftLint for source files'
quiet = true
run = """
{{ vars.swiftlint }} lint \
--config .swiftlint.yml \
--strict \
Sources Macros
"""

[tasks."swiftlint:tests"]
description = 'Run SwiftLint for test files'
quiet = true
run = """
{{ vars.swiftlint }} lint \
--config .swiftlint.yml \
--config .swiftlint.tests.yml \
--strict \
Tests
"""

[tasks.swiftformat]
description = 'Run SwiftFormat for all files'
quiet = true
run = "{{ vars.swiftformat }} . --lint"