--acronyms ID,URL,UUID
--allman false
--allow-partial-wrapping true
--anonymous-for-each convert
--asset-literals visual-width
--async-capturing 
--before-marks 
--binary-grouping 4,8
--blank-line-after-switch-case multiline-only
--call-site-paren default
--category-mark "MARK: %c"
--class-threshold 0
--closing-paren default
--closure-void remove
--complex-attributes prev-line
--computed-var-attributes prev-line
--conditional-assignment always
--conflict-markers reject
--date-format system
--decimal-grouping 3,6
--default-test-suite-attributes 
--doc-comments before-declarations
--else-position same-line
--empty-braces no-space
--enum-namespaces always
--enum-threshold 0
--equatable-macro none
--exponent-case lowercase
--exponent-grouping disabled
--extension-acl on-declarations
--extension-mark "MARK: - %t + %c"
--extension-threshold 0
--file-macro "#file"
--fraction-grouping disabled
--fragment false
--func-attributes prev-line
--generic-types 
--group-blank-lines true
--grouped-extension "MARK: %c"
--guard-else next-line
--header ignore
--hex-grouping 4,8
--hex-literal-case uppercase
--ifdef indent
--import-grouping testable-first
--indent 4
--indent-case false
--indent-strings false
--inferred-types always
--init-coder-nil false
--lifecycle 
--line-after-marks true
--line-between-guards false
--linebreaks lf
--mark-categories true
--mark-class-threshold 0
--mark-enum-threshold 0
--mark-extension-threshold 0
--mark-extensions always
--mark-struct-threshold 0
--mark-types always
--markdown-files ignore
--max-width none
--modifier-order 
--never-trailing 
--nil-init remove
--no-space-operators 
--no-wrap-operators 
--non-complex-attributes 
--octal-grouping 4,8
--operator-func spaced
--organization-mode visibility
--organize-types actor,class,enum,struct
--pattern-let hoist
--preserve-acronyms 
--preserve-decls 
--preserved-property-types Package
--property-types inferred
--ranges spaced
--redundant-async always
--redundant-throws always
--self init-only
--self-required 
--semicolons inline-only
--short-optionals always
--single-line-for-each ignore
--smart-tabs enabled
--some-any true
--sort-swiftui-properties none
--sorted-patterns 
--stored-var-attributes prev-line
--strip-unused-args always
--struct-threshold 0
--tab-width unspecified
--throw-capturing 
--timezone system
--trailing-closures 
--trailing-commas never
--trim-whitespace always
--type-attributes prev-line
--type-blank-lines preserve
--type-body-marks preserve
--type-delimiter space-after
--type-mark "MARK: - %t"
--type-marks 
--type-order 
--url-macro none
--visibility-marks 
--visibility-order 
--void-type Void
--wrap-arguments before-first
--wrap-collections before-first
--wrap-conditions after-first
--wrap-effects preserve
--wrap-enum-cases always
--wrap-parameters before-first
--wrap-return-type preserve
--wrap-string-interpolation default
--wrap-ternary before-operators
--wrap-type-aliases after-first
--xcode-indentation enabled
--xctest-symbols 
--yoda-swap always
--disable fileHeader,headerFileName,redundantInternal,wrap,wrapMultilineStatementBraces,wrapSingleLineComments
--enable acronyms,blankLinesBetweenImports,blockComments,docComments,emptyExtensions,environmentEntry,isEmpty,noForceTryInTests,noForceUnwrapInTests,noGuardInTests,propertyTypes,redundantAsync,redundantMemberwiseInit,redundantProperty,redundantThrows,singlePropertyPerLine,sortSwitchCases,unusedPrivateDeclarations,wrapConditionalBodies,wrapEnumCases,wrapMultilineFunctionChains
